#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}