#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96e55e0c-532f-47ec-b9fa-3f0672249a11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}